{%  extends 'web_app/base.html' %}
{% load static %}
{% block content %}
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
            <h3>Add the job posting</h3>   
			<form action="" method="POST">
				{% csrf_token %}
                {{ form.management_form }}
				{% for field in form %}
                    {{field.label}}
                    {{field}}
					<hr>
				{% endfor %}
                <input class="button" type="submit" name="Add job posting">
                <a href="{% url 'home' %}" class="button" style="margin-left:500px;">Back</a>
			</form>

		</div>
	</div>
</div>


{% endblock %}